{% extends '../base/base.html' %}



{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
<div class="container">
	<h2 class="title-page">My account</h2>
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->
	
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">
		<nav class="list-group">
			<a class="list-group-item active" href="#"> Account overview  </a>
			<a class="list-group-item" href="{% url 'profile:address' %}"> My Address </a>
			<a class="list-group-item" href="{% url 'profile:order' %}"> My Orders </a>
			<a class="list-group-item" href="{% url 'profile:wishlist' %}"> My wishlist </a>
			<a class="list-group-item" href="{% url 'profile:seller' %}"> My Selling Items </a>
			<a class="list-group-item" href="{% url 'profile:settings' %}"> Settings </a>
			<a class="list-group-item" href="{% url 'accounts:account_logout' %}"> Log out </a>
		</nav>
	</aside> <!-- col.// -->
	<main class="col-md-9">

		<article class="card mb-3">
			<div class="card-body">
				
				<figure class="icontext">
						<div class="icon">
							<img class="rounded-circle img-sm border" src="images/avatars/avatar3.jpg">
						</div>
						<div class="text">
							<strong> {{ user_data.0.first_name }} {{ user_data.0.last_name }} </strong> <br> 
							<p class="mb-2"> {{ user_data.0.email }} </p> 
							
						</div>
				</figure>
				<hr>
				<p>
					<i class="fa fa-map-marker text-muted"></i> &nbsp; My address:  
					 <br>
					{{ user_address.0.address_1 }}, {{ user_address.0.zip_number }}, {{ user_address.0.state }}
				</p>

				

				{% comment %} <article class="card-group card-stat">
					<figure class="card bg">
						<div class="p-3">
							 <h4 class="title">38</h4>
							<span>Card Items</span>
						</div>
					</figure>
					<figure class="card bg">
						<div class="p-3">
							 <h4 class="title">38</h4>
							<span>WishListed Items</span>
						</div>
					</figure>


				</article> {% endcomment %}
				

			{% comment %} </div> <!-- card-body .// -->
		</article> <!-- card.// --> {% endcomment %}

		{% comment %} <article class="card  mb-3">
			<div class="card-body">
				<h5 class="card-title mb-4">Recent orders </h5>	

				<div class="row">
				<div class="col-md-6">
					<figure class="itemside  mb-3">
						<div class="aside"><img src="images/items/1.jpg" class="border img-sm"></div>
						<figcaption class="info">
							<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
							<p>Great book name goes here </p>
							<span class="text-success">Order confirmed </span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
				<div class="col-md-6">
					<figure class="itemside  mb-3">
						<div class="aside"><img src="images/items/2.jpg" class="border img-sm"></div>
						<figcaption class="info">
							<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
							<p>How to be rich</p>
							<span class="text-success">Departured</span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
				<div class="col-md-6">
					<figure class="itemside mb-3">
						<div class="aside"><img src="images/items/3.jpg" class="border img-sm"></div>
						<figcaption class="info">
							<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
							<p>Harry Potter book </p>
							<span class="text-success">Shipped  </span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
			</div> <!-- row.// -->

			<a href="#" class="btn btn-outline-primary btn-block"> See all orders <i class="fa fa-chevron-down"></i>  </a>
			</div> <!-- card-body .// -->
		</article> <!-- card.// --> {% endcomment %}

	</main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}




</body>
</html>